ANTHROPIC_API_KEY=...
SOLANA_PRIVATE_KEY=...
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_RPC_URL=...
PRIVY_APP_ID=...
PRIVY_APP_SECRET=...
PRIVY_VERIFICATION_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
PERPS_MODE=paper
PERPS_MARKET=SOL-PERP
PHOENIX_PERPS_URL=...
RISE_PERPS_URL=...
CLAWD_KIT_ROOT=...                 # monorepo root
CLAWD_CONSTITUTION_PATH=...        # override constitution file
CLAWD_RULES_PATH=...               # override clawd-rules
CLAWD_LOCAL=1
CLAWD_SKIP_START=1
CLAWD_RUN_MODE=both|kit|automaton
CLAWD_CARGO_PROFILE=debug|release
CLAWD_KIT_FEATURES=full            # builds HTTP bin/kit
CLAWD_AUTOMATON_REPO / DIR / BRANCH